/* pictures styles  */

 .developers-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /*space around*/
    background-color:#A0B8A4;
    text-align:center;
}
    .developers {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px; 

    @media @tablet{
    padding:0.5%;
		text-align:center;
		width:80%;
    }

    .developers2 {
    padding-left: 30px;
    padding-right: 30px;
  }}

.ourteam {
    background-color:#A0B8A4;
}

#about{
  background-color:white;
  display:flex;
  justify-content:center;
}
  .text{
  background-color:white;
  padding:0.5%;
  text-align:center;
  width:80%;
}
     p{
     text-align:justify;
     text-align:center;
}

.bio {
  text-align:center;
}

