

body{
  line-height:2;
  font-size:1.5rem;
  font-family: 'Nunito Sans', sans-serif;
}

.tech-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-around;
    }
      .tech img:hover {
         -webkit-filter: grayscale(100%);
         filter: grayscale (100%);
    }

 .tech {
      display: flex;
      flex-direction: column;
    
      @media @tablet{
      padding:0.5%;
      text-align:center;
      width:80%;
      }
  

#customerservice{
    background-color:#A0B8A4;
    padding: 30%,
      }
    .contanier{
        display:flex;
        justify-content:space-around;
      }
      
         #customerservice .contanier div{
            text-align:center;
            width:24%;

            @media @mobile {
            width:90%;
           }
         }
              #customerservice .contanier div p{
                  text-align:justify;
              }
           }
      
